.contenedor{
    display: flex;
     flex-wrap: wrap;  
      justify-content: center;    /* para alinear contenido */

}

.contenido{
    width: 20%;
    margin-right: 5px;
 } 
p{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    border: 1px silver solid;
}